@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

:root {
    --primary-color: #a3d3ff;
    --primary-color-700: #12325a;
    --primary-color-500: #2f6394;
    --primary-color-200: #c4e2fc;
    --primary-color-100: hsl(208, 100%, 93%);
    --secondary-color: #ffafcc;
    --secondary-color-200: #ffc8dd;
    --purple: #cdb4db;
    --a-blue: #1a0dcd;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: "Dongle";

    overflow-x: hidden;
    overflow-y: hidden;

    scroll-behavior: smooth;
    box-sizing: border-box;
    /*scroll-snap-type: y proximity;*/

    z-index: 1;
}
body {
    background: var(--primary-color-100);
    position: relative;
    color: var(--primary-color-700);
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2.25rem;
}

a {
    text-decoration: none;
}
a h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
<-----------START------------->

<-----------HEADER-------------->

<-----------START------------->
*/

header {
    position: fixed;
    width: 100vw;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    background: var(--primary-color);
    z-index: 5;
}

.logo {
    margin: auto auto auto 1.5rem;
    vertical-align: middle;
}

.logo h1 {
    margin: 0;
    font-size: 4rem;
}
.logo a {
    color: var(--primary-color-700);
}

.menu {
    margin: auto 0 auto 0;
}

.about,
.work,
.contact {
    color: var(--primary-color-700);
    font-size: 2rem;
    text-decoration: none;
    margin: 0 1rem 0 0;
}

/*
<-----------START------------->

<-----------MENU-------------->

<-----------START------------->
*/
.menuToggle {
    display: block;
    margin: 2rem 2rem auto auto;
    padding: 0;
    max-height: 5vh;
    z-index: 0;

    -webkit-user-select: none;
    user-select: none;
}

.menuToggle input {
    display: block;
    width: 2.75rem;
    height: 2.5rem;
    padding: 0;
    margin: auto;
    cursor: pointer;
    position: absolute;
    right: 1.8rem;
    top: 1.5rem;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span {
    display: block;
    width: 2.3rem;
    height: 0.3rem;
    overflow: vivsible;
    min-width: 0;
    margin-bottom: 0.313rem;
    position: relative;
    top: 0;

    background: var(--primary-color-700);
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menuToggle span:first-child {
    transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(4px, -1px);
    background: var(--primary-color-200);
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, 6px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu {
    overflow: hidden;
    float: left;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 30vh 0 0 0;
    margin: auto;
    top: 50vh;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.95;

    background: var(--primary-color-700);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu li {
    max-width: 100vw;
    height: 5rem;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    color: var(--primary-color-200);

    padding: 0;
    font-size: 4rem;
}
.menu a {
    height: 5rem;
}

/*
 * And let's fade it in from the left
 */
.menuToggle input:checked ~ .menu {
    transform: none;
}

/*
<-----------END-------------->

<-----------MENU------------->

<-----------END-------------->
*/

/*
<-----------START------------->

<-----------MAIN-------------->

<-----------START------------->
*/

.parallax-wrapper {
    position: relative;

    margin: 0;
    padding: 0;

    height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    scroll-behavior: smooth;

    perspective: 100px;
}

/*
circles style
*/
.circle {
    display: block;
    position: absolute;

    top: 0;
    left: 0;

    height: 10rem;
    width: 10rem;

    background: linear-gradient(
        to right bottom,
        rgb(69, 63, 156),
        rgb(16, 25, 77)
    );

    border-radius: 50%;

    z-index: -1;
}

/*
materials style
*/

.glass {
    position: realtive;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 1rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.clay {
    margin-bottom: 1rem;
    padding: 0.75rem 2rem 0.25rem 2rem;
    border-radius: 1.5rem;
}

.white-clay {
    box-shadow: inset -5px -5px 7px hsl(206, 78%, 90%),
        inset 3px 3px 7px hsl(206, 78%, 90%);
    background: hsla(0, 0%, 100%, 0.98);
}

/*
main style
*/

main {
    margin: 0;
    padding-top: 7rem;
}

section {
    position: relative;
    padding: 0.75rem;
    margin: 0 0.5rem 0 0.5rem;
    width: calc(100% - 2.5rem);

    z-index: 1;
}

.main-elements {
    display: inline-block;
}

section h1,
section h2 {
    margin: 0;
}

.react-text {
    color: #06bcee;
}
.firebase-text {
    color: #ffa714;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.project-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
    width: calc(100% - 2rem);
    min-height: 10rem;
}
.project-flex h2 {
    position: relative;
    font-size: 1.9rem;
}

.video {
    position: relative;
    width: 100%;
    height: 100%;
}
.project-flex .video {
    width: calc(100%);
    height: calc(100% + 1.5rem);
    margin: 1rem 0 -0.5rem 0;
    border-radius: 0.2rem 0.2rem 1rem 1rem;
}

.appearing-from-left,
.appearing-from-right {
    margin-left: 0;
}

.demo-a {
    position: relative;
    margin: 1rem 0 1rem 0;
    padding: 0.1rem 1rem 0 1rem;
    font-size: 2rem;
    color: var(--a-blue);
    /* border: 1px solid var(--a-blue); */
    border-radius: 0.5rem;

    box-shadow: 1px 1px 3px hsl(206, 78%, 90%), -1px -1px 3px hsl(0, 0%, 95%),
        inset -2px -2px 3px hsl(206, 78%, 90%),
        inset 1px 1px 3px hsl(0, 0%, 95%);
    background: hsl(0, 0%, 100%);
    transition: all 0.4s ease;
}
.demo-a:hover {
    box-shadow: 0px 0px 3px hsl(206, 78%, 90%), 0px 0px 3px hsl(0, 0%, 95%),
        inset 2px 2px 3px hsl(206, 78%, 90%),
        inset -1px -1px 3px hsl(0, 0%, 95%);
}

.demo-a span {
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
}
.demo-a:hover span {
    top: 2px;
    left: 2px;
}

@media screen and (min-width: 950px) {
    section {
        margin: 1rem 2rem 0 2rem;
        width: calc(100% - 5rem);
    }
    .appearing-from-right {
        margin-left: calc(40% - 2rem);
    }
    .project-flex {
        padding: 2rem;
        width: calc(60% - 2rem);
    }
    .project-flex h2 {
        font-size: 2rem;
    }
    .project-flex .video {
        margin: 1rem 0 -0.5rem 0;
        width: 100%;
        height: 100%;
    }
}

/*
<-----------END-------------->

<-----------MAIN------------->

<-----------END-------------->
*/

/*
<-----------START-------------->

<-----------FOOTER------------->

<-----------START-------------->
*/
footer {
    margin-top: 0.5rem;
    padding-top: 15%;

    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(95vh - 6rem);

    letter-spacing: 0.15rem;

    background-color: var(--primary-color-700);
}

.contact-and-copy-email {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: rows;

    height: 3rem;

    justify-content: center;
    text-align: center;
    align-items: center;
}

.contact-and-copy-email h2,
.contact-and-copy-email h1 {
    color: var(--primary-color-700);
    margin: 0;
}

textarea {
    opacity: 0;
    position: absolute;
    top: -9999999px;
    left: -9999999px;
}

.contact-container {
    margin: 0 auto;

    width: 15rem;
    min-height: 15rem;

    position: relative;
    display: flex;
    flex-direction: column;

    text-align: center;

    text-transform: uppercase;
}
.contact-container h1 {
    margin: 0;
    color: var(--primary-color);
}

@media screen and (min-width: 800px) {
    .contact-container {
        transform: scale(1.3);
    }
    footer {
        margin-top: 3rem;
    }
}

@media screen and (min-width: 925px) {
    .contact-container {
        transform: scalex(1.1);
    }

    footer {
        transform: scaleY(1.1);
        padding-top: 10%;
        margin-top: 3.5rem;
        height: calc(80vh - 6rem);
    }
}
/*
Button Style
*/

.btn-three {
    position: absolute;
    padding-bottom: 0.25rem;

    width: calc(100% + 3rem) !important;
    height: 2.5rem !important;

    font-size: 2rem;
    font-family: "Dongle";
    z-index: 1;

    color: var(--primary-color-700);
    border: none;
    border-radius: 5px;
    background: var(--primary-color);

    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    transition: all 0.5s;
}
.btn-three:hover {
    background: none;
    color: var(--primary-color-200);
}
.btn-three::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    opacity: 0.3;
    transition: all 0.5s;
}
.btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}
.btn-three::after {
    font-size: 2.5rem;
    content: "";
    color: var(--primary-color-200);
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 20;
    opacity: 0;
    transition: all 0.5s;
    border: 1px solid var(--primary-color-200);
    border-radius: 5px;
    transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
    z-index: 200;
    opacity: 1;
    transform: scale(1, 1);
}

.social {
    position: absolute;

    top: 135%;
    left: 50%;
    transform: translateX(-50%);

    width: 75%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}
.reddit-icon,
.github-icon,
.dev-icon {
    position: relative;

    height: 2rem;
    width: 2rem;

    z-index: 3000;
}

.reddit-icon {
    filter: invert(0) sepia(10%) saturate(90%) hue-rotate(190deg)
        brightness(90%) contrast(100%);
}

.github-icon {
    filter: invert(0%) sepia(0%) saturate(90%) hue-rotate(360deg)
        brightness(100%) contrast(111%);
}
.dev-icon {
    filter: invert(5%) sepia(0%) saturate(90%) hue-rotate(360deg)
        brightness(100%) contrast(100%);
}
/*
<-----------END---------------->

<-----------FOOTER------------->

<-----------END---------------->
*/
.copied-text {
    padding-top: 0.2rem;
    display: flex;
    position: fixed;
    overflow: hidden;
    top: 115%;
    left: calc(50% - 3rem);
    transform: translateY(-100%);
    width: 6rem;
    height: 1.9rem;

    justify-content: center;
    pointer-events: none;

    font-size: 1.3rem;
    letter-spacing: 0.03rem;

    border: 3px solid #1f8f48;
    border-radius: 10px;
    box-shadow: 0 0 3px #32df71;

    background-color: #32df71;
    color: white;
    opacity: 0;

    transition: all 0.4s;
    z-index: 3000;
}
